<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        
        <!-- Light Logo-->
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-light.png" alt="" height="17">
            </span>
        </a>
    </div>

   

    <div id="scrollbar">
        <div class="container-fluid">
            
            <div class="navbar-nav simplebar-scrollable-y" id="navbar-nav" data-simplebar="init">
                <div class="simplebar-wrapper">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset">
                            <div class="simplebar-content-wrapper">
                                <div class="simplebar-content">
                                   
                                    <div class="nav-item twocolumn-item-show">

                                        <div class="collapse menu-dropdown show active">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="dashboard-analytics.html" class="nav-link"
                                                        data-key="t-analytics"> Analytics </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="dashboard-crm.html" class="nav-link active"
                                                        data-key="t-crm"> CRM </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="index.html" class="nav-link" data-key="t-ecommerce">
                                                        Ecommerce </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> <!-- end Dashboard Menu -->


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simplebar-placeholder" width="219px" height="270px"></div>
                </div>
                 
                
            </ul>
        </div>
        <!-- Sidebar -->
    </div> 
</div>